assets/*.png filter=lfs diff=lfs merge=lfs -text
demos/out/*.png filter=lfs diff=lfs merge=lfs -text
demos/out/*.gif filter=lfs diff=lfs merge=lfs -text
demos/out/*.mp4 filter=lfs diff=lfs merge=lfs -text
